<form (submit)=" CreateTaskData()">
  <fieldset>
    <legend>Add Task</legend>
    <div class="form-group">
      <label for="exampleInputUserName"></label>
      <input type="email" class="form-control"  aria-describedby="emailHelp" id="exampleInputUserName" placeholder="Assign Project" name="projectname" [(ngModel)]="projectname">
    </div>
    <div class="form-group">
      <label for="exampleInputName"></label>
      <input type="email" class="form-control"  aria-describedby="emailHelp" id="exampleInputName" placeholder="Task Title"  name="task title" [(ngModel)]="tasktitle">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="email" class="form-control"  aria-describedby="emailHelp" id="exampleInputEmail1" placeholder="Start date"  name="startdate" [(ngModel)]="startdate">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail11"></label>
      <input type="email" class="form-control"  aria-describedby="emailHelp" id="exampleInputEmail11" placeholder="Due date"  name="duedate" [(ngModel)]="duedate">
    </div>
    <button type="submit" class="btn btn-primary" ><!--<a [routerLink]="['/login']">-->Create Task</button>
  </fieldset>
</form>
